<!DOCTYPE html>
<html>

  <header>
    <title>{{title}}</title>
  </header>

<body>
  <h1>Bienvenidos al Game Hub!</h1>
  <a href="/products">Juegos</a>
  <a href="/users/register">Registro</a>
  <a href="/users/login">Login</a>


  <form action="users/logout" method="POST">
    <input type="submit" value="Cerrar sesión">
  </form>
</body>

</html>