<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
  </head>

<body>
  <h1>Bienvenidos al Game Hub!</h1>
  <div>
    <a href="/products">Juegos</a>
    <a href="/users/register">Registro</a>
    <a href="/users/login">Login</a>
  </div>

  <form action="users/logout" method="POST">
    <input type="submit" value="Cerrar sesión">
  </form>
</body>

</html>