<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <h1>Mi carrito</h1>

        {{#if products}}
            {{#each products}}
                <h2>{{this.name}}</h2>
                <h3>{{this.price}}</h3>
            {{/each}}

            <h3>Precio a pagar: {{this.total}}</h3>
            
            <form action="/products/cart" method="DELETE">
                <input type="submit" value="Pagar">
            </form>
        {{/if}}
    </body>

</html>