<!DOCTYPE html>
<html>

<head>
  <title>Game Store Login</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/shared.css">
</head>

<body>
  <h1 class="title">Login</h1>

  <div class="nav">
    <a href="/">Página principal</a>
  </div>
  

  <form action="/users/login" method="POST">
    <label for="mail">
      <p>Email:</p>
      <input type="text" name="mail">
    </label>

    <label for="password">
      <p>Contraseña:</p>
      <input type="password" name="password">
    </label>

    <input type="submit" value="Login now!">

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}
  </form>
</body>

</html>